//! **************************************************************************
// Written by: Map K.39 on Mon Dec 02 19:28:04 2013
//! **************************************************************************

SCHEMATIC START;
NET "clock_27mhz_IBUFG1" BEL "clock_27mhz_IBUFG_BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

